.simple-card{
    width: 18vw;
    height: 60vh;
    border: 1px solid rgb(214, 210, 210);
    border-radius: 2vh;
    margin: 6vh 3.5vw;
}
.simple-card-img{
    width: 18vw;
    height: 45vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}
.simple-card-text{
    width: 18vw;
    height: 15vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    text-align: center;
    font-size: 2vh;
    background-color: aqua;
    padding-top: 5%;
}
.reset-btn{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
}
.reset-btn:focus{
    outline: none;
}